.contentWrapper {
  width: 100%;
}

.selfie {
  width: 98%;
  border: 2px solid #ffffff;
  border-radius: 6px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.carousel {
  z-index: -99;
}

.carousel-item {
  position: fixed;
  width: 100%;
  height: 100%;
}

.slide1 {
  background-image: url("../../assets/pexels-photo-1263221.jpeg");
  background-size: cover;
  -moz-background-size: cover;
}

.slide2 {
  background-image: url("../../assets/site.jpg");
  background-size: cover;
  -moz-background-size: cover;
}

.slide3 {
  background-image: url("../../assets/rsz_pexels-photo-169978.jpg");
  background-size: cover;
  -moz-background-size: cover;
}

hr {
  border-color: rgb(2, 171, 184);
}

.hr2 {
  border-color: white;
}

.jumbotron {
  margin-left: 5px;
  margin-right: 5px;
  background: none;
  background-image: linear-gradient(
    to bottom,
    rgba(156, 155, 155, 0.99),
    rgba(26, 25, 25, 0.95)
  );
  border-style: solid;
  border-color: white;
  border-width: 4px;
  font-family: "Hepta Slab", serif;
  box-shadow: 5px 5px 5px grey;
  text-align: center;
  color: white;
  box-shadow: 5px 5px 7px rgb(2, 171, 184);
}

.headerjumbo {
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  z-index: 20;
  color: white;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  background: none;
  background-image: linear-gradient(
    to bottom,
    rgba(141, 141, 141, 0.99),
    rgba(27, 27, 27, 0.95)
  );
  border-style: solid;
  border-color: white;
  border-width: 4px;
  font-family: "Hepta Slab", serif;
  box-shadow: 5px 5px 7px rgb(2, 171, 184);
}

.carousel-contentHead {
  padding-top: 20px;
}

.bioPageJumbo {
  background-image: linear-gradient(
    to bottom,
    rgba(99, 98, 98, 0.99),
    rgba(27, 27, 27, 0.95)
  );
}

a {
  color: rgb(2, 171, 184);
}

.readyMetGoJumbo {
  background-image: linear-gradient(
    to bottom,
    rgb(241, 127, 217, 0.95),
    rgb(236, 238, 134, 0.95)
  );
  color: rgb(43, 39, 39);
}

.recipeJumbo {
  background-image: linear-gradient(
    to left,
    rgb(53, 53, 47, 0.95),
    rgb(228, 156, 89, 0.95)
  );
}

.techJobJumbo {
  background-image: linear-gradient(
    to left,
    rgba(122, 179, 206, 0.95),
    rgba(93, 37, 110, 0.95)
  );
}

.triviaJumbo {
  background: linear-gradient(
    to right,
    rgb(182, 48, 48, 0.95) 26%,
    rgba(196, 182, 155, 0.95)
  );
}

.recJumbo {
  background: rgb(27, 150, 136);
  background: linear-gradient(
    to left,
    rgb(155, 127, 118, 0.95),
    rgb(44, 119, 68, 0.95)
  );
}

.techJobSearch {
  font-family: "Modak", cursive;
}

.recRenter {
  font-family: Alfa Slab One, cursive;
  text-decoration: underline;
  font-size: 40px;
}

.triviaGame {
  text-align: center;
  font-family: "Beth Ellen", cursive;
  font-size: 34px;
}

.readyMetGo {
  font-family: "Pacifico", cursive;
}

.recipeTracker {
  font-family: "Shadows Into Light", cursive;
}

.metHr {
  border-color: rgb(22, 22, 22);
}

ul {
  text-align: center;
  list-style-position: inside;
}

.carousel-content2,
.carousel-content3,
.carousel-content4,
.carousel-content5,
.carousel-content6 {
  margin-right: 20px;
  margin-left: 20px;
}

@media only screen and (min-width: 767px) {
  .selfie {
    width: 60%;
    float: left;
    margin-right: 10px;
  }

  p {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 1440px) {
  .selfie {
    width: 40%;
    border: 2px solid #ffffff;
    border-radius: 6px;
    float: left;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 15px;
  }

  p {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .headerjumbo {
    position: absolute;
    width: 1024px;
    left: 50%;
    margin-left: -512px;
    text-align: center;
    top: 2%;
    z-index: 20;
    color: white;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    background: none;
    background-image: linear-gradient(
      to bottom,
      rgba(141, 141, 141, 0.99),
      rgba(27, 27, 27, 0.95)
    );
    border-style: solid;
    border-color: white;
    border-width: 4px;
    font-family: "Hepta Slab", serif;
    box-shadow: 5px 5px 7px rgb(2, 171, 184);
  }

  .carousel-content2 {
    position: absolute;
    width: 512px;
    left: 5%;
    text-align: center;
    top: 54%;
    z-index: 20;
    color: white;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  }

  .carousel-content3 {
    position: absolute;
    width: 768px;
    left: 50%;
    margin-left: -384px;
    text-align: center;
    top: 79%;
    z-index: 25;
    color: white;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  }

  .carousel-content4 {
    position: absolute;
    width: 512px;
    left: 94%;
    margin-left: -512px;
    text-align: center;
    top: 54%;
    z-index: 20;
    color: white;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  }

  .carousel-content5 {
    position: absolute;
    width: 512px;
    left: 5%;
    text-align: center;
    top: 115%;
    z-index: 20;
    color: white;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  }

  .carousel-content6 {
    position: absolute;
    width: 512px;
    left: 94%;
    margin-left: -512px;
    text-align: center;
    top: 115%;
    z-index: 20;
    color: white;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  }

  .recContainer,
  .techContainer {
    top: 49%;
  }

  .recipeContainer {
    top: 115%;
  }

  .rmgContainer {
    top: 84%;
  }

  .carousel-content2,
  .carousel-content3,
  .carousel-content4,
  .carousel-content5,
  .carousel-content6 {
    transition: all 0.3s ease-in-out;
  }

  .carousel-content2:hover,
  .carousel-content4:hover,
  .carousel-content5:hover,
  .carousel-content6:hover {
    z-index: 30;
  }

  .carousel-content2:hover,
  .carousel-content3:hover,
  .carousel-content4:hover,
  .carousel-content5:hover,
  .carousel-content6:hover {
    transform: scale(1.1);
  }

  .bioPageJumbo {
    position: absolute;
    width: 1024px;
    left: 50%;
    margin-left: -512px;
    text-align: center;
    text-indent: 50px;
    top: 49%;
    z-index: 20;
    color: white;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    background: none;
    background-image: linear-gradient(
      to bottom,
      rgba(141, 141, 141, 0.99),
      rgba(27, 27, 27, 0.95)
    );
    border-style: solid;
    border-color: white;
    border-width: 4px;
    font-family: "Hepta Slab", serif;
    box-shadow: 5px 5px 7px rgb(2, 171, 184);
  }
}

.projectJumbo,
.contactJumbo,
.bioJumbo,
.triviaJumbo {
  cursor: pointer;
}

.headerjumbo {
  cursor: context-menu;
  height: 345px;
}

.carousel-content2,
.carousel-content3,
.carousel-content4,
.carousel-content6 {
  cursor: pointer;
}

hr {
  height: 3px;
}

.projectLink:hover {
  text-decoration: none;
}
